<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ивана, привет!</h1>

<br>
<br>
<br>
<br>
<br>
<br>

<script>
    Обычная html-форма
    action - путь, куда будет запрос с методом
    имена полей и сами поля с выводом текста
    кнопка баттон с типом сабмит, при нажатии на которую - отправка формы

    При неявном указании метода используется метод ГЕТ

    В теге форм экшн прописана страница, на которую нас перебросит
    В именах прописан метод ручного ввода - инпут

    В экшн не прописан прямой путь, чтобы в случае изменения пути не нарушился
    роутинг, поэтому мы прописываем в urls атрибут name = 'thanks_page'

    POST-запрос при передаче результатов формы данные скрываются
    и не отображаются в адресной строке, то есть сохраняются в теле запроса
    самого браузера
</script>

<script>
    html-форма:
    Отправляя форму, мы передаем форму по пути в action
    Браузер отправляет команду серверу открыть стр по заданному пути

    urls.py:
    Понимает, что это за страница, ссылаясь на views.py в опред. функцию

    views.py:
    Получает запрос, вытаскивает из него GET/POST-параметр
    Создает экземляр класса с этим параметром
    Сохраняет его
    Рендерит страницу

    Получился обработчик форм, данные из которых мы сохраняем в БД

    При POST-запросе требуется прописать защиту, которая не позволит
    сторонним сайтам напрямую обратиться к странице с обработчиком формы:
    csrf_token
    Данная защита нужна при передаче логина и пароля
</script>

<style>
.css_input {
color: yellow;
background-color: black;
}
</style>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">ОТПРАВИТЬ</button>
</form>

<br>
<br>
<br>
<br>
<br>
<br>



<script>
#Прописывние переменной из views в шаблон
<h1> {{ object_list }} </h1>

{% for obj in object_list %}

<h2>{{ obj.id }}</h2>
<h2>{{ obj.order_dt }}</h2>
<h2>{{ obj.order_name }}</h2>
<h2>{{ obj.order_phone }}</h2>
{% endfor %}
</script>

<script>Таблица</script>
{% if object_list %}
<table border="1">
    <tr>
        <th>id</th>
        <th>Дата</th>
        <th>Имя</th>
        <th>Телефон</th>

    </tr>

{% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_dt }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
<h1>Данных нет</h1>
{% endif %}

</body>
</html>